@model Drippin.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proPrecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proImagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proImagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proImagen2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proImagen2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proImagen3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proImagen3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proImagen4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proImagen4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prodCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prodCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.proId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
